In [1]:
import pandas as pd, numpy as np, seaborn as s,matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score, confusion_matrix, accuracy_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

#########################################################################################

lr,le,ohe,ss,logr = LinearRegression(),LabelEncoder(),OneHotEncoder(),StandardScaler(),LogisticRegression()

In [2]:
data = pd.read_csv(r"D:\@themightyNJ\Machine Learning\ML\Dataset-master\Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
y = data.iloc[:,-1]
x = data.iloc[:,[2,3]]
x,y

(     Age  EstimatedSalary
 0     19            19000
 1     35            20000
 2     26            43000
 3     27            57000
 4     19            76000
 5     27            58000
 6     27            84000
 7     32           150000
 8     25            33000
 9     35            65000
 10    26            80000
 11    26            52000
 12    20            86000
 13    32            18000
 14    18            82000
 15    29            80000
 16    47            25000
 17    45            26000
 18    46            28000
 19    48            29000
 20    45            22000
 21    47            49000
 22    48            41000
 23    45            22000
 24    46            23000
 25    47            20000
 26    49            28000
 27    47            30000
 28    29            43000
 29    31            18000
 ..   ...              ...
 370   60            46000
 371   60            83000
 372   39            73000
 373   59           130000
 374   37            80000
 375   46            32000
 376   46            74000
 377   42            53000
 378   41            87000
 379   58            23000
 380   42            64000
 381   48            33000
 382   44           139000
 383   49            28000
 384   57            33000
 385   56            60000
 386   49            39000
 387   39            71000
 388   47            34000
 389   48            35000
 390   48            33000
 391   47            23000
 392   45            45000
 393   60            42000
 394   39            59000
 395   46            41000
 396   51            23000
 397   50            20000
 398   36            33000
 399   49            36000

 [400 rows x 2 columns], 0      0
 1      0
 2      0
 3      0
 4      0
 5      0
 6      0
 7      1
 8      0
 9      0
 10     0
 11     0
 12     0
 13     0
 14     0
 15     0
 16     1
 17     1
 18     1
 19     1
 20     1
 21     1
 22     1
 23     1
 24     1
 25     1
 26     1
 27     1
 28     0
 29     0
       ..
 370    1
 371    1
 372    0
 373    1
 374    0
 375    1
 376    0
 377    0
 378    1
 379    1
 380    0
 381    1
 382    1
 383    1
 384    1
 385    1
 386    1
 387    0
 388    1
 389    1
 390    1
 391    1
 392    1
 393    1
 394    0
 395    1
 396    1
 397    1
 398    0
 399    1
 Name: Purchased, Length: 400, dtype: int64)

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [6]:
x_train = ss.fit_transform(x_train)
x_test = ss.fit_transform(x_test)

In [80]:
logr = logr.fit(x_train,y_train)

In [81]:
pred = logr.predict(x_test)

In [82]:
pred

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [109]:
cm = confusion_matrix(y_test,pred)

In [111]:
print(cm)

[[50  2]
 [ 7 21]]

In [113]:
acc  = accuracy_score(y_test,pred)

In [120]:
print("Accuracy : ",acc*100,"%")

Accuracy :  88.75 %