In [1]:
import pandas as pd, numpy as np, seaborn as s,matplotlib.pyplot as plt,random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score, confusion_matrix, accuracy_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

#########################################################################################

lr,le,ohe,ss,logr = LinearRegression(),LabelEncoder(),OneHotEncoder(),StandardScaler(),LogisticRegression()
navie = GaussianNB()

In [2]:
data = pd.read_csv(r"D:\@themightyNJ\Machine Learning\ML\Dataset-master\Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
x = data[["Age","EstimatedSalary"]]
y = data["Purchased"]

In [4]:
random.seed()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [5]:
x_train = ss.fit_transform(x_train)
x_test = ss.fit_transform(x_test)

In [6]:
logr = logr.fit(x_train,y_train)
pred = logr.predict(x_test)

In [7]:
pred

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [8]:
acc  = accuracy_score(y_test,pred)
print("Accuracy : ",acc*100,"%")

Accuracy :  88.75 %